.vote-box {
  position: relative;
  color: #fff;
  width: 48%;

  @media (max-width: 900px) {
    width: 100%;
  }

  .content {
    background-image: linear-gradient(rgba(48, 48, 48, 0), rgba(48, 48, 48, 1));
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  img {
    width: 100%;
    min-height: 450px;
  }

  .up-voted,
  .down-voted {
    padding: 5px;
    border: solid transparent 2px;
  }

  .up-voted {
    background-color: #1cbbb4;
  }

  .down-voted {
    background-color: #ffad1d;
  }

  .person-info {
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: flex-end;

      h2 {
        font-size: 3em;
        font-weight: 400;
        margin-left: 5px;
        text-transform: capitalize;
      }

      .up-voted,
      .down-voted {
        margin-bottom: 10px;
      }
    }
  }

  .content {
    .right {
      margin-left: 40px;

      > span {
        display: inline-block;
        margin-bottom: 20px;
      }

      > p {
        font-size: 1.2em;
        margin-bottom: 20px;
      }
    }
  }

  .voting-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .MuiSvgIcon-root {
      pointer-events: none;
    }

    .selected {
      border: solid #fff 2px;
    }
  }

  .voting-buttons a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }

  .border-button {
    border: #fff solid 1px;
    padding: 10px 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }

  .alert-message {
    color: red;
    font-weight: 400;
  }
}
