.signup {
  border: orange solid 1px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 50px;

  h2 {
    margin-bottom: 30px;
  }

  .formGroup {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      height: 40px;
    }

    p {
      text-align: center;
    }
  }
}
