.navbar {
  display: flex;
  width: 100%;
  height: 140px;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(rgba(64, 64, 64, 1), rgba(64, 64, 64, 0));
  top: 0;
  position: absolute;
  z-index: 1;

  a {
    text-decoration: none;
    color: #fff;
  }

  .brand {
    width: 50%;
    font-size: 2.5em;
    font-weight: 400;
  }

  .navigation {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
    padding-left: 30px;
    font-weight: 400;
  }
}
