.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    width: 100%;
    background: url(assets/pope.jpg);
    padding-top: 150px;
    padding-bottom: 90px;
    background-size: cover;
    min-height: 750px;
    position: relative;
    margin-bottom: 50px;

    > .box {
      padding-left: 10%;
      width: 45%;
      margin-top: 50px;
      margin-bottom: 50px;

      @media (max-width: 1400px) {
        width: 60%;
      }

      @media (max-width: 1068px) {
        width: 70%;
      }

      @media (max-width: 840px) {
        padding: 0 5%;
        width: 100%;
      }
    }
  }

  .home-content {
    .info {
      display: flex;
      align-items: center;
      min-height: 110px;
      padding: 20px 30px;
      background-color: #ebebeb;
      margin-bottom: 40px;

      .left {
        width: 20%;

        p:first-child {
          font-size: 1.55em;
          font-weight: 300;
        }

        p:last-child {
          font-size: 2.5em;
          font-weight: 700;
        }

        @media (max-width: 996px) {
          p:first-child {
            font-size: 1.2em;
            font-weight: 300;
          }

          p:last-child {
            font-size: 1.3em;
            font-weight: 700;
          }
        }
      }

      .middle {
        width: 75%;
        font-size: 1.1em;
        line-height: 25px;
      }

      .right {
        width: 5%;
        display: flex;
        justify-content: flex-end;
        color: #494949;
      }
    }

    > h2 {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 40px;
    }

    .previous-rulings {
      display: flex;
      flex-wrap: wrap;

      > div {
        margin-bottom: 4%;
      }

      > div:nth-child(odd) {
        margin-right: 2%;
      }

      > div:nth-child(even) {
        margin-left: 2%;
      }

      @media (max-width: 850px) {
        > div:nth-child(odd) {
          margin-right: 0;
        }

        > div:nth-child(even) {
          margin-left: 0;
        }
      }
    }

    .add-people {
      height: 100px;
      width: 100%;
      background: url(assets/people.jpg);
      background-size: cover;
      background-position: center 47%;

      .colored-background {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        background-color: rgba(255, 255, 255, 0.85);
        color: #404040;

        > span {
          font-size: 2.2em;
          font-weight: 300;
        }

        > a {
          text-align: center;
          font-size: 1.5em;
          font-weight: 400;
          text-decoration: none;
          color: #404040;
          border: #000 solid 3px;
          padding: 10px 30px;
        }

        @media (max-width: 776px) {
          > span {
            font-size: 1.3em;
          }

          > a {
            font-size: 1em;
          }
        }
      }
    }
  }
}
