.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  border-top: grey dotted 2px;
  margin-top: 40px;

  .social-media {
    color: gray;
    display: flex;
    align-items: center;

    > * {
      margin-left: 20px;
    }
  }

  .navigation {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      display: inline;
      padding-right: 30px;

      a {
        text-decoration: none;
        color: gray;
      }
    }
  }
}
