.percentage-bar {
  display: flex;
  align-items: center;

  .MuiSvgIcon-root {
    font-size: 1em;
  }

  > div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 2em;
    font-weight: 400;
  }

  .up-vote-bar {
    background-color: rgba(27, 170, 163, 0.4);
    padding-left: 10px;
  }

  .down-vote-bar {
    justify-content: flex-end;
    background-color: rgba(243, 170, 41, 0.4);
    padding-right: 10px;
  }
}
