.hero-vote-box {
  color: #fff;
  .MuiSvgIcon-fontSizeLarge {
    font-size: 3em;
  }

  .body {
    background-color: rgba(64, 64, 64, 0.6);
    backdrop-filter: blur(35px);
    padding: 40px;
  }

  .verdict-box {
    display: flex;
  }

  .body-title {
    margin-bottom: 30px;
  }

  .body-title span {
    font-size: 4em;
    font-weight: 500;
  }

  .body-content {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .body-link {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .body-link a {
    color: #fff;
    margin-left: 10px;
  }

  .body > span {
    font-size: 1.5em;
    font-weight: 500;
  }

  .verdict-box {
    > div {
      width: 50%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .up-vote {
      background-color: rgba(27, 170, 163, 0.8);
    }
    .down-vote {
      background-color: rgba(243, 170, 41, 0.8);
    }
  }
}
