.closing-bar {
  display: flex;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;

  .closing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    width: 30%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.5);
    color: #fff;
    font-weight: 500;
    position: relative;
  }

  .days {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 70%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.5);
    font-size: 2.5em;

    > span {
      font-weight: 400;
      padding-right: 10px;
    }
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(112, 112, 112, 0.6);
    position: absolute;
    right: -10px;
    top: 21px;
  }
}
